<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete member</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav th:insert="~{navigation-bar :: navbar}"></nav>

<div class="container ml-3 mt-4">

    <h2>Delete member</h2>

    <form th:action="@{/members/delete-by-community/{id}(id=${member.community_ID})}" th:object="${member}" method="post"
          class="mt-4">
        <div class="form-group row">
            <label for="person_ID col-form-label col-sm-2">Person:&nbsp;</label>
            <input type="hidden" th:field="${member.person_ID}" th:text="${name}" id="person_ID"
                   class="form-control col-sm-6 ml-2" placeholder="person_ID" />
        </div>
        <div class="form-group row" hidden>
            <label for="community_ID col-form-label col-sm-2">Community_ID</label>
            <input type="hidden" th:field="${member.community_ID}" id="community_ID"
                   class="form-control col-sm-6 ml-2" placeholder="community_ID" />
        </div>
        <div class="form-group row">
            <label for="since col-form-label col-sm-2">Since:&nbsp;</label>
            <input type="hidden" th:field="*{since}" th:text="*{since}" id="since"
                   class="form-control col-sm-6 ml-2" placeholder="dd-mm-yyyy" />
        </div>
        <div class="form-group row">
            <label for="until col-form-label col-sm-2">Until:&nbsp;</label>
            <input type="hidden" th:field="*{until}" th:text="*{until}" id="until"
                   class="form-control col-sm-6 ml-2" placeholder="dd-mm-yyyy" />
        </div>
        <input type="submit" value="Delete member"
               class="btn btn-primary ml-2" />
        <a th:href="@{/members/members-by-community/{id}(id=${member.community_ID})}" class="btn btn-primary ml-2">Cancel</a>
    </form>
</div>
</body>
</html>