<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit personaddress</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{~/}">MiniCRM by Klara & Tom</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/persons/}">Persons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/communities/}">Communities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/addresses/}">Addresses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/events/}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/members/}">Memberships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/personaddresses/}">Personaddresses</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container ml-3 mt-4">

    <h2>Edit member</h2>

    <form th:action="@{/personaddresses}" th:object="${personAddress}" method="post"
          class="mt-4">
        <div class="form-group row">
            <label for="person_ID col-form-label col-sm-2">Person:&nbsp;</label>
            <input type="hidden" th:field="${personAddress.person_ID}" th:text="${name}" id="person_ID"
                   class="form-control col-sm-6 ml-2" placeholder="person_ID" />
        </div>
        <div class="form-group row">
            <label for="address col-form-label col-sm-2">Address:&nbsp;</label>
            <input type="hidden" th:field="${personAddress.address_ID}" th:text="${address}" id="address"
                   class="form-control col-sm-6 ml-2" placeholder="address" />
        </div>
        <div class="form-group row">
            <label for="email col-form-label col-sm-2">email</label>
            <input type="text" th:field="*{email}" id="email"
                   class="form-control col-sm-6 ml-2" placeholder="email" />
        </div>
        <div class="form-group row">
            <label for="phone col-form-label col-sm-2">Phone</label>
            <input type="text" th:field="*{phone}" id="phone"
                   class="form-control col-sm-6 ml-2" placeholder="phone" />
        </div>
        <div class="form-group row">
            <label for="mobile col-form-label col-sm-2">Mobile</label>
            <input type="text" th:field="*{mobile}" id="mobile"
                   class="form-control col-sm-6 ml-2" placeholder="mobile" />
        </div>
        <div class="form-group row">
            <label for="type col-form-label col-sm-2">Type</label>
            <input type="text" th:field="*{type}" id="type"
                   class="form-control col-sm-6 ml-2" placeholder="type" />
        </div>
        <input type="submit" value="Save personaddress"
               class="btn btn-primary ml-2" />
        <a th:href="@{/personaddresses}" class="btn btn-primary ml-2">Cancel</a>
    </form>
</div>
</body>
</html>