<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Members</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav th:insert="~{navigation-bar :: navbar}"></nav>

<div class="container-sm">
    <div class="row">
        <div class="col">

        </div>

        <div class="col-6">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">Person</th>
                    <th scope="col">Community</th>
                    <th scope="col">Since</th>
                    <th scope="col">Until</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:each="member : ${members}">
                    <td th:text="${personMap.get(member.person_ID)}"></td>
                    <td th:text="${communityMap.get(member.community_ID)}"></td>
                    <td th:text="${member.since}"></td>
                    <td th:text="${member.until}"></td>
                    <td>
                        <a th:href="@{/members/edit/{id1}/{id2}(id1=${member.getPerson_ID()},id2=${member.getCommunity_ID()})}" class="btn btn-warning">edit</a>
                        <a th:href="@{/members/delete/{id1}/{id2}(id1=${member.getPerson_ID()},id2=${member.getCommunity_ID()})}" class="btn btn-danger">delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>
                <a th:href="@{/members/new}" class="btn btn-primary ml-2">New membership</a>
            </p>
        </div>
        <div class="col">

        </div>
    </div>
</div>
</body>
</html>