<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add member</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{~/}">MiniCRM by Klara & Tom</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/persons/}">Persons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/communities/}">Communities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/addresses/}">Addresses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/events/}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/members/}">Memberships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/personaddresses/}">Personaddresses</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container ml-3 mt-4">

    <h2>New member</h2>

    <form th:action="@{/members}" th:object="${member}" method="post"
          class="mt-4">
        <div class="form-group row">
            <select class="form-control" th:field="${member.person_ID}"  id="person_ID">
                <option value="0">select person</option>
                <option th:each="person : ${personList}" th:value="${person.id}" th:text="${person.firstName + ' ' + person.getLastName()}"></option>
            </select>
        </div>
        <div class="form-group row">
            <select class="form-control" th:field="${member.community_ID}"  id="community_ID">
                <option value="0">select community</option>
                <option th:each="community : ${communityList}" th:value="${community.ID}" th:text="${community.description}"></option>
            </select>
        </div>
        <div class="form-group row">
            <label for="since col-form-label col-sm-2">Since</label>
            <input type="text" th:field="*{since}" id="since"
                   class="form-control col-sm-6 ml-2" placeholder="dd-mm-yyyy" />
        </div>
        <div class="form-group row">
            <label for="until col-form-label col-sm-2">Until</label>
            <input type="text" th:field="*{until}" id="until"
                   class="form-control col-sm-6 ml-2" placeholder="dd-mm-yyyy" />
        </div>
        <input type="submit" value="Save member"
               class="btn btn-primary ml-2" />
        <a th:href="@{/members}" class="btn btn-primary ml-2">Cancel</a>
    </form>
</div>
</body>
</html>