<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add member</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav th:insert="~{navigation-bar :: navbar}"></nav>


<div class="container ml-3 mt-4">

    <h2>Add address to person</h2>

    <form th:action="@{/personaddresses}" th:object="${personaddress}" method="post"
          class="mt-4">
        <div class="form-group row">
            <select class="form-control" th:field="${personaddress.person_ID}"  id="person_ID">
                <option value="0">select person</option>
                <option th:each="person : ${personList}" th:value="${person.id}" th:text="${person.firstName + ' ' + person.getLastName()}"></option>
            </select>
        </div>
        <div class="form-group row">
            <label for="email col-form-label col-sm-2">E-Mail</label>
            <input type="text" th:field="*{email}" id="email"
                   class="form-control col-sm-6 ml-2" placeholder="email" />
        </div>
        <div class="form-group row">
            <label for="phone col-form-label col-sm-2">Phone</label>
            <input type="text" th:field="*{phone}" id="phone"
                   class="form-control col-sm-6 ml-2" placeholder="phone" />
        </div>
        <div class="form-group row">
            <label for="mobile col-form-label col-sm-2">Mobile</label>
            <input type="text" th:field="*{mobile}" id="mobile"
                   class="form-control col-sm-6 ml-2" placeholder="mobile" />
        </div>
        <div class="form-group row">
            <label for="type col-form-label col-sm-2">Type</label>
            <input type="text" th:field="*{type}" id="type"
                   class="form-control col-sm-6 ml-2" placeholder="type" />
        </div>
        <div class="form-group row">
            <select class="form-control" th:field="${personaddress.address_ID}"  id="address_ID">
                <option value="0">select address</option>
                <option th:each="address : ${addressList}" th:value="${address.id}" th:text="${address.toStringForPersonAddress()}"></option>
            </select>
        </div>
        <input type="submit" value="Save personaddress"
               class="btn btn-primary ml-2" />
        <a th:href="@{/personaddresses}" class="btn btn-primary ml-2">Cancel</a>
    </form>
</div>
</body>
</html>